@keyframes Color {
  from {
    background-color: #1fb98b;
  }

  to {
    background-color: #00875f;
  }
}

.finish {
  max-width: 960px;
  height: 100vh;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 460px;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
}

.form label {
  display: block;
  font-weight: 500;
  font-size: 0.875rem;
  color: #c2c2c2;

  margin: 8px 0;
}

.form input {
  width: 100%;
  padding: 12px;
  background-color: #1e1e1e;
  border: 0;
  outline: 0;
  border-radius: 4px;

  font-weight: 400;
  font-size: 1rem;
  color: #c2c2c2;
}

.button {
  width: 320px;
  padding: 12px;

  background-color: #00875f;

  border: 0;
  outline: 0;

  border-radius: 4px;

  margin: 24px auto 14px auto;
  cursor: pointer;
}

.button {
  font-weight: 900;
  font-size: 0.875rem;
  color: #ffffff;

  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: #029469;
  outline: #1fb98b;
}

.preview {
  min-width: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  border: 1px solid #1e1e1e;
  padding: 2rem;

  margin-bottom: 2rem;
  border-radius: 12px;
}

.avatar {
  margin-bottom: 1rem;
  position: relative;
}

.avatar img {
  width: 120px;
  height: 120px;

  border-radius: 100px;
  object-fit: cover;

  border: 10px solid #121214;
  box-shadow: 0px 0px 0px 4px #1e1e1e;

  cursor: pointer;
  transition: 0.4s ease-in-out;

  margin: 0 auto;
}

.avatar label {
  display: block;
  margin: 0 auto;
}

.avatar input {
  display: none;
}

.avatar img:hover {
  filter: grayscale(2);
  opacity: 0.5;
}

.nickname h2 {
  font-weight: 700;
  font-size: 1.125em;
  color: #c2c2c2;
  margin-bottom: 4px;
}

.nickname span p {
  font-weight: 500;
  font-size: 1em;
  color: #202024;
  text-align: center;

  text-transform: lowercase;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
}

.nickname span p::before {
  content: "";

  display: block;
  width: 8px;
  height: 8px;
  animation: Color alternate infinite 3s;

  margin-top: 2px;
  border-radius: 50px;
}

.change-img-icon {
  position: absolute;
  bottom: 0;
  right: -20px;
}
