.loading {
  margin-top: 2rem;
}

.title {
  font-weight: 700;
  font-size: 1.125em;
  color: #fff;
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: 400;
  font-size: 0.75rem;
  color: #c2c2c2;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
